*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("imagenes/politecnico.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.input-group i {
  color: #555;
  font-size: 25px;
  margin-right: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-color: #89aeff;
    border-radius: 23px;
    font-size: 18px;
}

button {
    background-color: #3b70e0;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button i {
    padding-left: 8px;
}

.logo-pmw {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
  height: auto;
  opacity: 0.8;
  z-index: 1000;
  transition: transform 0.2s ease;
}

@media (max-width: 800px){

    .login-container {
        width: 500px;
        background-color: #fff;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
   
}